@media screen and (max-width: 600px) {
   header{
    padding:0 20px;
    margin: 0;
   }
   
   .logo{
    margin-left:0;
    text-align: center;
    width: 0;
    
   }
   .logo h1{
    font-size:30px;
   }
    .list{
        flex-direction: column;
        display: none;
    }
    .icon{
        display: flex;
        justify-content: flex-end;
        margin-left: 80%;
    }
}