* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 52px 135px;
}

nav {
    display: flex;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
    width: 50%;


}

.special {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;

}

.logo h1 {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;

}

.nav1 {
    color: #FF5400;
    ;
}

.list {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.list a {
    text-decoration: none;
    color: #131318;
    font-size: 20px;
}

.list .btn a {
    color: #FF5400;
}

.icon {
    display: none;
}

main {
    padding: 135px;
}

.hero {
    background-image: url(../Images/Group13.png);
    background-size: cover;
    width: 100%;
    height: 800px;
    border-radius: 16px;
    margin-right: auto;
    margin-left: auto;
}

.hero1 h1 {
    color: #FFF;

    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    padding-top: 200px;
}

.hero1 p {
    color: #FFF;
    margin: 20px;
    text-align: center;
    font-family: Mulish;
    font-size: 30px;
    font-style: normal;
    font-weight: 600px;
    line-height: 26px;
    padding: 0 247px;
}

.form {

    background: rgba(255, 255, 255, 0.30);
    margin: 200px 185px;


}

.hero .form .text {
    padding: 0;
    display: inline-flex;
    justify-content: center;
    margin: 8px 250px;
    font-size: 20px;
    gap: 30px;
    border-radius: 2px;


}

.btn-p {
    background: #FF900E;
    padding: 20px 25px;
    font-size: 20px;
    border: 0;
    display: flex;
    border-radius: 8px;
    text-align: center
}

.form .text {

    border-radius: 5px;
}

main .popular {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.popular h1 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;


}

.popular .content {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 30px;
    font-weight: 400;
    line-height: 26px;
    margin: 10px;
}

main .popular .content2 {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 25px;
}

.popular .content3 {
    color: #5A5A5D;

    font-family: Mulish;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 20px;
}

.Destination {
    text-align: center;
    margin-top: 60px;
}

.Destination h1 {
    font-size: 60px;
}

.Destination p {
    font-size: 30px;
    margin-top: 10px;
    padding: 0 399px;

}

.imgcollage {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    width: 100%;
}

.imgcollage .img1 {
    width: 50%;


}

.imgcollage .img1 img {
    width: 100%;

    padding-right: 6px;
}

.imgcollage .img2 {
    width: 50%;

}

.imgcollage .img2 img {
    width: 100%;

    padding-left: 6px;
}

.imgcollage .img1 h1 {
    text-align: center;
    font-size: 50px;
    margin-top: -160px;
    color: #FFF;
}

.imgcollage .img2 h1 {
    text-align: center;
    font-size: 50px;
    margin-top: -160px;
    color: #FFF;
}

.collage2 {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    width: 100%;

}

.collage2 .img4 {
    width: 30%;

}

.collage2 .img5 {
    width: 40%;

}

.collage2 .img6 {
    width: 30%;

}

.collage2 .img4 img {
    width: 100%;
    height: 100%;
    padding-right: 25px;

}

.collage2 .img5 img {
    width: 100%;
    height: 100%;
}

.collage2 .img6 img {
    width: 100%;
    height: 100%;
    padding-left: 25px;
}

.collage2 .img4 h1 {
    text-align: center;
    font-size: 50px;
    margin-top: -160px;
    color: #FFF;
}

.collage2 .img5 h1 {
    text-align: center;
    font-size: 50px;
    margin-top: -160px;
    color: #FFF;
}

.collage2 .img6 h1 {
    text-align: center;
    font-size: 50px;
    margin-top: -160px;
    color: #FFF;
}

.collage3 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}

.collage3 .img7 {
    width: 40%;

}

.collage3 .img8 {
    width: 60%;

}

.collage3 .img7 img {
    width: 100%;
    height: 100%;
    padding-right: 25px;
}

.collage3 .img8 img {
    width: 100%;
    height: 100%;
}

.collage3 .img8 h1 {
    text-align: center;
    font-size: 50px;
    margin-top: -160px;
    color: #FFF;
}

.collage3 .img7 h1 {
    text-align: center;
    font-size: 50px;
    margin-top: -160px;
    color: #FFF;
}

.cont1 {
    text-align: center;
    margin-top: 50px;
}

.cont1 h1 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 60px;
    font-weight: 800;

}

.cont1 p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin-top: 20px
}

.coll1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.coll1 .img9 {
    width: 50%;
    height: 284px;
    border: 2px solid red;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding-left: 20px;
    padding-top: 10px;
}

.coll1 .img10 {
    width: 48%;
    border: 2px solid red;
    border-radius: 16px;
    padding-left: 20px;
    height: 284px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.coll1 .img9 h1 {
    color: #131318;
    margin-top: 10px;
    font-family: Mulish;
    font-size: 30px;
    font-weight: 800;

}

.coll1 .img9 p {
    color: #5A5A5D;
    margin-top: 20px;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;

}

.coll1 .img10 h1 {
    color: #131318;
    margin-top: 10px;
    font-family: Mulish;
    font-size: 30px;
    font-weight: 800;

}

.coll1 .img10 p {
    color: #5A5A5D;
    margin-top: 20px;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;

}

.coll2 {
    width: 50%;
    justify-content: center;
    margin-top: 20px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    height: 284px;
    margin: 20px auto;
}

.coll2 .img11 {
    padding-left: 20px;
    padding-top: 20px;

}

.coll2 .img11 h1 {
    font-size: 30px;
    margin-top: 8px;
}

.coll2 .img11 p {
    font-size: 20px;
    margin-top: 10px;
}

.foot {
    background: rgba(19, 19, 24, 0.05);

    height: 500px;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 50px auto;

    width: 50%;

}

.social img {
    border: 2px solid red;
    padding-left: 650px;
    padding-right: 500px;
    margin-left: 250px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 20px;
}

.foot .footer-cont {
    font-size: 20px;
    padding-left: 500px;
    margin-bottom: 50px;
}